<%= form_for(@exercise_log) do |f| %>
  <% if @exercise_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_log.errors.count, "error") %> prohibited this exercise_log from being saved:</h2>

      <ul>
      <% @exercise_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :sets %><br />
    <%= f.text_field :sets %>
  </div>
  <div class="field">
    <%= f.label :repetitions %><br />
    <%= f.text_field :repetitions %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
